{
  "openapi": "3.1.0",
  "info": {
    "title": "Nexus Distributed DevSpace API",
    "version": "3.1.0",
    "description": "Nexus fleet control plane. Shell commands and structured DevSpace workspace operations always target one explicitly named device; workspace operations are never redirected to a substitute device."
  },
  "servers": [{"url": "https://nexus-global-api.bings.app"}],
  "security": [{"BearerAuth": []}],
  "paths": {
    "/api/devices": {
      "get": {
        "operationId": "listDevices",
        "summary": "List Nexus devices and runtime capabilities",
        "parameters": [{"name": "status", "in": "query", "required": false, "schema": {"type": "string", "default": "approved"}}],
        "responses": {"200": {"description": "Device list"}}
      }
    },
    "/api/devices/{device_id}": {
      "get": {
        "operationId": "getDevice",
        "summary": "Get one Nexus device and runtime capabilities",
        "parameters": [{"name": "device_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {"200": {"description": "Device identity"}}
      }
    },
    "/api/commands": {
      "post": {
        "operationId": "executeCommand",
        "summary": "Execute one shell command on one named Nexus device",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": ["device_id", "command"],
                "properties": {
                  "device_id": {"type": "string"},
                  "command": {"type": "string"},
                  "timeout_ms": {"type": "integer", "default": 30000, "minimum": 1000, "maximum": 86400000},
                  "wait_seconds": {"type": "integer", "default": 20, "minimum": 0, "maximum": 120}
                }
              }
            }
          }
        },
        "responses": {"200": {"description": "Job result or accepted job"}}
      }
    },
    "/api/runtime": {
      "post": {
        "operationId": "executeRuntimeOperation",
        "summary": "Run a structured upstream DevSpace workspace operation on one named Nexus device",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": ["device_id", "operation", "input"],
                "properties": {
                  "device_id": {"type": "string"},
                  "operation": {
                    "type": "string",
                    "enum": ["workspace.open", "workspace.read", "workspace.apply_patch", "workspace.exec", "workspace.write_stdin"]
                  },
                  "input": {"type": "object"},
                  "timeout_ms": {"type": "integer", "default": 30000, "minimum": 1000, "maximum": 86400000},
                  "wait_seconds": {"type": "integer", "default": 20, "minimum": 0, "maximum": 120}
                }
              }
            }
          }
        },
        "responses": {"200": {"description": "Workspace job result or accepted job"}, "502": {"description": "Target has no DevSpace runtime or routing failed"}}
      }
    },
    "/api/jobs/{region}/{job_id}": {
      "get": {
        "operationId": "getJob",
        "summary": "Read a Nexus job from an EU or CN Broker",
        "parameters": [
          {"name": "region", "in": "path", "required": true, "schema": {"type": "string", "enum": ["eu", "cn"]}},
          {"name": "job_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {"200": {"description": "Job status and structured result"}}
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {"BearerAuth": {"type": "http", "scheme": "bearer"}}
  }
}
