{
  "openapi": "3.1.0",
  "info": {
    "title": "Nexus",
    "version": "3.2.2",
    "description": "Canonical production interface for the Nexus-managed device fleet. If the user explicitly says Nexus or @Nexus, route through this API before any developer or fallback remote-control path. Tool availability is independent of backend health; use selfTest to diagnose the production control path. Commands and workspace operations always target one explicitly named device."
  },
  "servers": [
    {
      "url": "https://nexus-global-api.bings.app"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/api/devices": {
      "get": {
        "operationId": "listDevices",
        "summary": "List Nexus devices and runtime capabilities",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "approved"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device list"
          }
        }
      }
    },
    "/api/devices/{device_id}": {
      "get": {
        "operationId": "getDevice",
        "summary": "Get one Nexus device and runtime capabilities",
        "parameters": [
          {
            "name": "device_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device identity"
          }
        }
      }
    },
    "/api/self-test": {
      "get": {
        "operationId": "selfTest",
        "summary": "Test Registry, EU/CN Brokers, and Agent presence without executing on a device",
        "responses": {
          "200": {
            "description": "Nexus control-path diagnostic"
          }
        }
      }
    },
    "/api/status": {
      "get": {
        "operationId": "getFleetStatus",
        "summary": "Get current device runtime states and Regional Broker health",
        "responses": {
          "200": {
            "description": "Fleet status"
          }
        }
      }
    },
    "/api/commands/batch": {
      "post": {
        "operationId": "executeBatch",
        "summary": "Execute up to 16 shell jobs concurrently on explicitly named devices",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jobs"
                ],
                "properties": {
                  "jobs": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 16,
                    "items": {
                      "type": "object",
                      "required": [
                        "device_id",
                        "command"
                      ]
                    }
                  },
                  "wait_seconds": {
                    "type": "integer",
                    "default": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ordered batch results"
          }
        }
      }
    },
    "/api/commands": {
      "post": {
        "operationId": "executeCommand",
        "summary": "Execute one shell command on one named Nexus device",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "device_id",
                  "command"
                ],
                "properties": {
                  "device_id": {
                    "type": "string"
                  },
                  "command": {
                    "type": "string"
                  },
                  "timeout_ms": {
                    "type": "integer",
                    "default": 30000,
                    "minimum": 1000,
                    "maximum": 86400000
                  },
                  "wait_seconds": {
                    "type": "integer",
                    "default": 20,
                    "minimum": 0,
                    "maximum": 120
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job result or accepted job"
          }
        }
      }
    },
    "/api/workspaces/open": {
      "post": {
        "operationId": "openWorkspace",
        "summary": "Open an upstream DevSpace checkout or managed worktree on one named device",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "device_id",
                  "path"
                ],
                "properties": {
                  "device_id": {
                    "type": "string"
                  },
                  "path": {
                    "type": "string"
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "checkout",
                      "worktree"
                    ],
                    "default": "checkout"
                  },
                  "base_ref": {
                    "type": "string",
                    "default": ""
                  },
                  "wait_seconds": {
                    "type": "integer",
                    "default": 20,
                    "minimum": 0,
                    "maximum": 120
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace open result"
          }
        }
      }
    },
    "/api/workspaces/read": {
      "post": {
        "operationId": "readWorkspace",
        "summary": "Read a file through an opened upstream DevSpace workspace",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "device_id",
                  "workspace_id",
                  "path"
                ],
                "properties": {
                  "device_id": {
                    "type": "string"
                  },
                  "workspace_id": {
                    "type": "string"
                  },
                  "path": {
                    "type": "string"
                  },
                  "offset": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20000
                  },
                  "wait_seconds": {
                    "type": "integer",
                    "default": 20,
                    "minimum": 0,
                    "maximum": 120
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace read result"
          }
        }
      }
    },
    "/api/workspaces/apply-patch": {
      "post": {
        "operationId": "applyWorkspacePatch",
        "summary": "Apply a Codex-style patch through upstream DevSpace on one named device",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "device_id",
                  "workspace_id",
                  "patch"
                ],
                "properties": {
                  "device_id": {
                    "type": "string"
                  },
                  "workspace_id": {
                    "type": "string"
                  },
                  "patch": {
                    "type": "string"
                  },
                  "wait_seconds": {
                    "type": "integer",
                    "default": 20,
                    "minimum": 0,
                    "maximum": 120
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace patch result"
          }
        }
      }
    },
    "/api/workspaces/exec": {
      "post": {
        "operationId": "execWorkspaceCommand",
        "summary": "Run a command inside an opened upstream DevSpace workspace",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "device_id",
                  "workspace_id",
                  "command"
                ],
                "properties": {
                  "device_id": {
                    "type": "string"
                  },
                  "workspace_id": {
                    "type": "string"
                  },
                  "command": {
                    "type": "string"
                  },
                  "working_directory": {
                    "type": "string",
                    "default": ""
                  },
                  "tty": {
                    "type": "boolean",
                    "default": false
                  },
                  "yield_time_ms": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 300000
                  },
                  "max_output_tokens": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100000
                  },
                  "wait_seconds": {
                    "type": "integer",
                    "default": 20,
                    "minimum": 0,
                    "maximum": 120
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace command result or process session"
          }
        }
      }
    },
    "/api/workspaces/stdin": {
      "post": {
        "operationId": "writeWorkspaceStdin",
        "summary": "Poll or interact with a running upstream DevSpace process session",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "device_id",
                  "workspace_id",
                  "session_id"
                ],
                "properties": {
                  "device_id": {
                    "type": "string"
                  },
                  "workspace_id": {
                    "type": "string"
                  },
                  "session_id": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "chars": {
                    "type": "string",
                    "default": ""
                  },
                  "yield_time_ms": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 300000
                  },
                  "wait_seconds": {
                    "type": "integer",
                    "default": 20,
                    "minimum": 0,
                    "maximum": 120
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace process session result"
          }
        }
      }
    },
    "/api/runtime": {
      "post": {
        "operationId": "executeRuntimeOperation",
        "summary": "Run a structured DevSpace workspace operation on one named Nexus device",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "device_id",
                  "operation",
                  "input"
                ],
                "properties": {
                  "device_id": {
                    "type": "string"
                  },
                  "operation": {
                    "type": "string",
                    "enum": [
                      "workspace.open",
                      "workspace.read",
                      "workspace.apply_patch",
                      "workspace.exec",
                      "workspace.write_stdin"
                    ]
                  },
                  "input": {
                    "type": "object"
                  },
                  "timeout_ms": {
                    "type": "integer",
                    "default": 30000,
                    "minimum": 1000,
                    "maximum": 86400000
                  },
                  "wait_seconds": {
                    "type": "integer",
                    "default": 20,
                    "minimum": 0,
                    "maximum": 120
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace job result or accepted job"
          },
          "502": {
            "description": "Target does not expose the DevSpace runtime or routing failed"
          }
        }
      }
    },
    "/api/jobs/{region}/{job_id}": {
      "get": {
        "operationId": "getJob",
        "summary": "Read a Nexus job from an EU or CN Broker",
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "eu",
                "cn"
              ]
            }
          },
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status and structured result"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
