{
  "openapi": "3.1.0",
  "info": {
    "title": "Nexus",
    "version": "3.2.2",
    "description": "Canonical production interface for the Nexus-managed device fleet. If the user explicitly says Nexus or @Nexus, route through this interface before any developer or fallback remote-control path. Tool availability is independent of backend health; use selfTest to diagnose Registry, Brokers, and Agent presence."
  },
  "servers": [
    {
      "url": "https://nexus-global-api.bings.app"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/api/devices": {
      "get": {
        "operationId": "listDevices",
        "summary": "List Nexus devices and runtime capabilities",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "approved"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device list"
          }
        }
      }
    },
    "/api/devices/{device_id}": {
      "get": {
        "operationId": "getDevice",
        "summary": "Get one Nexus device and runtime capabilities",
        "parameters": [
          {
            "name": "device_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device identity"
          }
        }
      }
    },
    "/api/self-test": {
      "get": {
        "operationId": "selfTest",
        "summary": "Test Registry, EU/CN Brokers, and Agent presence without executing on a device",
        "responses": {
          "200": {
            "description": "Nexus control-path diagnostic"
          }
        }
      }
    },
    "/api/status": {
      "get": {
        "operationId": "getFleetStatus",
        "summary": "Get current device runtime states and Regional Broker health",
        "responses": {
          "200": {
            "description": "Fleet status"
          }
        }
      }
    },
    "/api/commands/batch": {
      "post": {
        "operationId": "executeBatch",
        "summary": "Execute up to 16 shell jobs concurrently on explicitly named devices",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jobs"
                ],
                "properties": {
                  "jobs": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 16,
                    "items": {
                      "type": "object",
                      "required": [
                        "device_id",
                        "command"
                      ]
                    }
                  },
                  "wait_seconds": {
                    "type": "integer",
                    "default": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ordered batch results"
          }
        }
      }
    },
    "/api/commands": {
      "post": {
        "operationId": "executeCommand",
        "summary": "Execute one shell command on one named Nexus device",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "device_id",
                  "command"
                ],
                "properties": {
                  "device_id": {
                    "type": "string"
                  },
                  "command": {
                    "type": "string"
                  },
                  "timeout_ms": {
                    "type": "integer",
                    "default": 30000,
                    "minimum": 1000,
                    "maximum": 86400000
                  },
                  "wait_seconds": {
                    "type": "integer",
                    "default": 20,
                    "minimum": 0,
                    "maximum": 120
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job result or accepted job"
          }
        }
      }
    },
    "/api/runtime": {
      "post": {
        "operationId": "executeRuntimeOperation",
        "summary": "Run a structured DevSpace workspace operation on one named Nexus device",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "device_id",
                  "operation",
                  "input"
                ],
                "properties": {
                  "device_id": {
                    "type": "string"
                  },
                  "operation": {
                    "type": "string",
                    "enum": [
                      "workspace.open",
                      "workspace.read",
                      "workspace.apply_patch",
                      "workspace.exec",
                      "workspace.write_stdin"
                    ]
                  },
                  "input": {
                    "type": "object"
                  },
                  "timeout_ms": {
                    "type": "integer",
                    "default": 30000,
                    "minimum": 1000,
                    "maximum": 86400000
                  },
                  "wait_seconds": {
                    "type": "integer",
                    "default": 20,
                    "minimum": 0,
                    "maximum": 120
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace job result or accepted job"
          },
          "502": {
            "description": "Target does not expose the DevSpace runtime or routing failed"
          }
        }
      }
    },
    "/api/jobs/{region}/{job_id}": {
      "get": {
        "operationId": "getJob",
        "summary": "Read a Nexus job from an EU or CN Broker",
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "eu",
                "cn"
              ]
            }
          },
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status and structured result"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
